@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body {
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    background-color: #D3D9DA;
    font-family: 'Patrick Hand', cursive;
}

.refreshButton {
    background-color: #829460;
    border: none;
}

#homeHeader {
    display: flex;
    padding: 0%;
    margin: 0%;
}

#header-content {
    width: 100%;
    height: 100%;
}

nav {
    background-color: #829460;
    height: 3%;
    align-items: center;
    display: flex;
    align-items: flex-start;
}

.homePng {
    width: 50%;
    margin-left: 40px;
    padding-top: 15%;
}

#about {
    margin-left: 1%;
}

#aboutHeader {
    display: none;
}

#aboutSection {
    display: none;
}

#aboutCollage {
    margin-top: 2%;
    margin-right: 2%;
    width: 40%;
}

#aboutHeaderImage {
    width: 100%;
}

.homeButtons {
    font-family: 'Patrick Hand', cursive;
    font-size: xx-large;
    width: 15%;
    padding: 8px 60px;
    border-radius: 15px;
    border: solid 5px #829460;
    opacity: 80%;
    margin-left: 3%;
    color: #514E46;
    background-color: #D9DFCF;

}

.home-Content {
    display: flex;
    align-items: flex-start;
}

#home-Collage {
    margin-left: 10%;
    width: 40%;
}

.welcome-Text {
    width: 40%;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    font-size: xx-large;
    color: #514E46;

}

#movieHeaderSection {
    display: none;
    padding: 0%;
    margin: 0%;
    width: 100%;
}

#movieHeader {
    width: 100%;
}

#moviesHeader {
    height: 100%;
    width: 100%;
}

.content {
    height: 3%;
    display: none;
    flex-wrap: wrap;
    margin-top: 0;
    background-color: #829460;
}



.filterText {
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: xx-large;
    font-family: 'Patrick Hand', cursive;
    color: #D3D9DA;
}

.Filtros {
    font-family: 'Patrick Hand', cursive;
    font-size: xx-large;
    width: 15%;
    padding: 8px 60px;
    border-radius: 15px;
    border: solid 5px #829460;
    opacity: 80%;
    margin-left: 3%;
    color: #514E46;
    background-color: #D9DFCF;
}

.options {
    font-size: large;
}

.Filtros:hover {
    background-color: rgb(182, 212, 186);
}

#searchSpace {
    margin-left: 20%;
    width: 15%;
    margin-right: 8px;
}

#filmsZone {
    display: none;
    background-color: #EEEEEE;
    flex-wrap: wrap;
    align-content: center;
}

.filmDivs {
    width: 20%;
    border: 8px solid #a9b690;
    border-radius: 10%;
    margin-left: 9.5%;
    margin-top: 4%;
    justify-content: center;
    background-color: #EEEEEE;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);

}

.infoText {
    color: #514E46;
    font-size: x-large;
    justify-content: center;
    margin-left: 13%;
    margin-right: 13%;
    margin-top: 0%;
    margin-bottom: 0%;

}


.filmDivs:hover {
    background-color: rgba(194, 196, 190, 0.534);
}

.filmDivsHover {
    width: auto;
}

.textContent {
    display: flex;
    justify-content: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
    margin-top: 20px;


}

.posterImages {
    width: 70%;
    padding: 5px;
    margin-left: 10%;
    margin-top: 5%;
    border-radius: 5%;
}

.filterSection {
    display: none;
    flex-wrap: wrap;
}

#moreHeader {
    display: none;
}

#moreHeaderImage {
    width: 100%;
}

#moreSection {
    display: none;
    flex-wrap: wrap;
}

.more-Images {
    width: 90%;
    height: 80%;
    margin: auto;
}

.moreText {
    color: #514E46;
    font-size: xx-large;
    justify-content: center;
    margin: auto;
}

.moreDivs {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    margin: 1%;
    text-align: center;
}

#charactersZone {
    display: none;
    background-color: #EEEEEE;
    flex-wrap: wrap;
    align-content: center;
}


#characterHeaderSection {
    display: none;

}

#characterHeader {
    width: 100%;
}

#characterImage {
    width: 100%;
    height: 100%;
}

.characterContent {
    display: none;
}

#triviaHeader {
    display: none;
    width: 100%;
}

#triviaHeaderImage {
    width: 100%;
    height: 100%;
}

#triviaSection {
    display: none;
    height: 90%;
    text-align: center;
    grid-template-columns: 1.5fr 1.5fr 1.5fr;
    grid-template-rows: 0.2fr 0.2fr;
}

.divQuestion {
    width: 100%;
    height: 80%;
    margin: 1%;

}

.question {
    padding: 2%;
    width: 90%;
    text-align: center;
    color: #514E46;
    font-size: xx-large;
    height: auto;
    margin: auto;

}

.Answer {
    width: 60%;
    height: 15%;
    margin-top: 5%;
    font-size: x-large;
    text-align: center;
    background-color: #f0f6f7;
    font-family: 'Patrick Hand', cursive;
    font-size: x-large;
    color: #514E46;

}

.answerText {
    padding: 2%;
    width: 50%;
    text-align: center;
    color: #514E46;
    font-size: x-large;
    height: auto;
    margin: auto;


}

#triviaAgain {
    margin: auto;
    width: 40%;
    height: 65%;
    grid-column: 2;
    grid-row: 2;
    font-family: 'Patrick Hand', cursive;
    font-size: x-large;
    color: #514E46;
}

footer {
    display: flex;
    justify-content: flex-end;
}

@media only screen and (max-width: 600px) {
    .refreshButton {
        justify-content: center;
    }

    #homeHeader {
        display: flex;
        width: 100%;
        height: 100%;
    }

    #header-content {
        width: 560px;
        height: 160px;
        object-fit: cover;
        margin-left: 0px;
        overflow: hidden;
    }

    .homePng {
        width: 25px;
        margin-left: 10px;
        padding-top: 0%;
        margin-right: 40px;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        background-color: #829460;
        height: 3%;
        align-items: center;
        justify-content: center;
    }

    .homeButtons {
        font-family: 'Patrick Hand', cursive;
        font-size: small;
        width: 5%;
        border-radius: 5px;
        border: solid 5px #829460;
        opacity: 80%;
        margin-left: 0%;
        color: #514E46;
        background-color: #D9DFCF;
        justify-content: center;

    }

    .welcome-Text {
        width: 100%;
        padding-top: 5%;
        padding-left: 10%;
        padding-right: 10%;
        text-align: center;
        font-size: large;
        color: #514E46;
    }

    .home-Content {
        display: flex;
        flex-wrap: wrap;
    }

    #home-Collage {
        margin-left: 10%;
        width: 100%;
        padding: 30px;
        padding-bottom: 0px;
        padding-top: 5px;

    }

    #aboutHeader {
        display: none;
        width: 100%;
        height: 100%;
    }

    #aboutHeaderImage {
        width: 560px;
        height: 160px;
        object-fit: cover;
        margin-left: 0px;
        overflow: hidden;
    }

    #aboutSection {
        display: none;
        flex-wrap: wrap;
    }

    #aboutCollage {
        margin: auto;
        width: 100%;
        padding: 30px;
        padding-bottom: 0px;
        padding-top: 5px;

    }

    #movieHeader {
        display: flex;
        width: 100%;
        height: 100%;
    }
    
    #moviesHeader {
        width: 560px;
        height: 160px;
        object-fit: cover;
        margin-left: 0px;
        overflow: hidden;
    }

    .filmDivs {
        width: 70%;
        border: 8px solid #a9b690;
        border-radius: 10%;
        margin: 50px;
        margin-bottom: 10px;
        justify-content: center;
        background-color: #EEEEEE;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    
    }
    .infoText {
        color: #514E46;
        font-size: medium;
        text-align:center;
        margin-left: 13%;
        margin-right: 13%;
        margin-top: 0%;
        margin-bottom: 0%;
    }

    .posterImages {
        width: 70%;
        padding: 5px;
        margin-left: 12%;
        margin-top: 5%;
        border-radius: 5%;
    }






    #triviaSection {
        display: none;
        height: 90%;
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    #q1 {
        grid-row: 1;
    }
    #q2 {
        grid-row: 2;
    }
    #q3 {
        grid-row: 3;
    }



    #moreHeaderImage {
        width: 560px;
        height: 160px;
        object-fit: cover;
        margin-left: 0px;
        overflow: hidden;
    }

    #moreSection {
        display: none;
        flex-wrap: wrap;
    }


    .moreDivs {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding-right: 50px;
        padding-left: 50px;
        padding-top: 5px;
    }

    .moreText {
        color: #514E46;
        font-size: large;
        align-content: center;
        margin: auto;
    }

    #triviaHeaderImage {
        width: 560px;
        height: 160px;
        object-fit: cover;
        margin-left: 0px;
        overflow: hidden;
    }

    #triviaSection {
        display: none;
        height: 90%;
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }


    .divQuestion {
        width: 100%;
        height: 100%;
        margin: 1%;

    }

    .question {
        padding: 2%;
        width: 100%;
        text-align: center;
        color: #514E46;
        font-size: large;
        height: auto;
        margin: auto;

    }

    .Answer {
        width: 60%;
        height: 15%;
        margin-top: 5%;
        font-size: x-large;
        text-align: center;
        background-color: #f0f6f7;
        font-family: 'Patrick Hand', cursive;
        font-size: large;
        color: #514E46;

    }

    .answerText {
        padding: 2%;
        width: 50%;
        text-align: center;
        color: #514E46;
        font-size: large;
        height: auto;
        margin: auto;


    }

    #triviaAgain {
        width: 100%;
        height: 100%;
        margin: auto;
        font-family: 'Patrick Hand', cursive;
        font-size: medium;
        color: #514E46;
        grid-row: 4;
    }



    footer {
        display: flex;
        justify-content: center;
    }

    #footerImage {
        width: 45%;
    }


}